<!-- src/app/login/login.component.html -->
<div class="login-container">
    <h1>Change Your Password</h1>
    <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="forgotpasswordForm.get('email')?.invalid && forgotpasswordForm.get('email')?.touched">
          <small *ngIf="forgotpasswordForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="forgotpasswordForm.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
        <div *ngIf="forgotpasswordForm.get('password')?.invalid && forgotpasswordForm.get('password')?.touched">
          <small *ngIf="forgotpasswordForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="forgotpasswordForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
        </div>
      </div>

      <div class="text-end">
        <button type="submit" class="btn login-btn px-4" [disabled]="forgotpasswordForm.invalid">Update Password</button>
      </div>
      
      
    </form>
    
  </div>