<header class="header">
  <nav class="nav-container">    
    <!-- Navigation links -->

    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/about">About</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/pages">Pages</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/contact">Contact</a>
      </li>
      <li *ngIf="!registerRoute"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="login-button" routerLink="/login">Login</a>
      </li>
      <li *ngIf="registerRoute" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="login-button" routerLink="/register">Register</a>
      </li>
    </ul>
  </nav>
</header>

